.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.item {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: large;
  color: #282a22;
}

.item:hover {
  color: black;
  transition-duration: 0.4s;
  text-decoration: none;
}

.ui.menu .item::before {
  width: 0px;
}

.adminlink:hover {
  text-decoration: none;
}

.admin-head {
  padding: 3rem 0rem;
  margin-bottom: 2rem;
}
.glossary-list {
  margin-top: 2rem;
}

.admin-text {
  display: inline;  
}

.link-h3 {
  display: inline;  
}

.card-link {
  color: #212529;
}

.card-link:hover {
  color: #6c757d;
}

.editButton {
  margin: 0em 0.5em;
}

.adglossary_item {
  margin: 1em 0em;
}

.adgloss_col {
  margin: 0em 1em;
}