.site-wrap {
  max-width: 100%
}

.App {
  text-align: center;
}

.btn-primary {
  background-color: forestgreen;
  border-color: green;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:visited, .btn-primary:active   {
  background-color: forestgreen;
  border-color: green;
}

.text-primary {
    color: forestgreen!important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hover-card {
  transition: box-shadow .3s;

}
.hover-card:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);

}

.adglossary-content {
  margin-top: 1rem;
}

.card {
  border: none;
  padding-top: 10px;
}

.glossary-letter card {
    padding-bottom: 0rem;
}

.glossary {
    column-count: 1;
    opacity: 1;
}

@media (min-width: 576px) and (max-width: 767px) { 
    .glossary {
        column-count: 2;
        opacity: 1;
    }
}

@media (min-width: 768px) and (max-width: 991px) { 
    .glossary {
        column-count: 3;
        opacity: 0.95;
    }
}

@media (min-width: 992px) and (max-width: 1199px) { 
    .glossary {
        column-count: 4;
        opacity: 0.95;
    }
}

@media (min-width: 1200px) { 
    .glossary {
        column-count: 5;
        opacity: 0.95;
    }
}
